body{
  background-color: #0e0e0e
}

#wrapper{
  background-color: white;
  margin: auto;
  width:1300px;
  height: 750px;

}
#header{
  margin-top: 10px;
  background-color: red;
  color: white;
  text-align: center;
  height: 80px;
  padding-top: 10px;

}
#leftside{
  background-color: green;
  height: 520px;
  color: white;
  padding-top: 10px;
}
#footer{
  background-color: blue;
  padding-top: 10px;
  height: 65px;
  color: white;
  clear: both;
}
